.entry-content>*:not(.alignwide):not(.alignfull) {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.wp-block-image.alignfull {
    display: block;
    text-align: center;
}

.wp-block-image.alignwide {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.has-principal-background-color {
    background-color: #1779ba;
}

.has-principal-color {
    color: #1779ba;
}

.has-secundaria-background-color {
    background-color: #767676;
}

.has-secundaria-background-color {
    color: #767676;
}

.has-pequeno-font-size {
    font-size: 12px;
}

.has-medio-font-size {
    font-size: 16px;
}

.has-grande-font-size {
    font-size: 20px;
}

.wp-block {
    max-width: 1200px;
}

.wp-block[data-align="wide"] {
    max-width: 1360px;
}

.wp-block[data-align="full"] {
    max-width: none;
}